/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('picture3.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: rgba(255, 255, 255, 0.2); /* Frosted glass effect */
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color:rgb(20, 23, 25);
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #131718;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #e74c3c;
  }
  
  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1); /* Frosted glass effect */
  }
  
  .description {
    text-align: center;
    color: #cf5f19;
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    font-weight: bold;
  }
  
  button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  
  footer {
    background-color: rgba(255, 255, 255, 0.2); /* Frosted glass effect */
    padding: 10px;
    text-align: center;
    color: #ecf0f1;
    font-weight: bold;
  }
  